.main {
    margin: 25px 0 0 25px;
    max-width: 540px;
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: #92d19ee7;
}

.bordered {
    border-radius: 10px;
    border: 2px solid #000000;
    margin: 10px 0px;
}

a {
    color: rgb(0, 0, 0);
    opacity: 0.8;
    text-decoration: underline;
}

a:hover {
    color: rgb(0, 0, 0);
    opacity: 1;
    text-decoration: underline;
}

h1 {
    margin-bottom: 15px;
}

p {
    text-indent: 15px;
    margin-block-end: 15px;
}

/*  Used top-margin to provide upper margin for each div inside the box
    Margin matches margin-block-end of paragraph and margin-bottom of h1 
    to ensure even spacing
 */
.top-margin {
    margin-top: 15px;
}