body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 5em;
}

/* Div */

.name {
    margin: 10px;
    color: black;
}

.name > h1 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.content {
    display: flex;
    margin: 30vh 0 18vh 0;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

body {
    background-color: white;
}